# Firebase (las claves también están en src/lib/firebase.ts por simplicidad)
# Puedes migrarlas a variables de entorno si lo prefieres

# Firebase público (cliente) — seguro exponer en el navegador
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAZrgrH46VBv56E9i8MUzwtxyoQf8t7He0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=iesvdv-96a18.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=iesvdv-96a18
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=iesvdv-96a18.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=526669274609
NEXT_PUBLIC_FIREBASE_APP_ID=1:526669274609:web:4c5d370e2f7d27cb467850
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-SV1CTE3TB4
